// ======================================
//  Variables
// ======================================

// Breakpoints 

$breakpoint-m: 768px;                                 // Medium screen breakpoint (>tablet)

// Colors

$color-bg: #FFF;                                      // Background color
$color-bg-header: #222;                               // Background header color
$color-bg-project-appy: #3A3C3F;                      // Background project color (AppyParking)
$color-bg-project-ebm: #ACF68B;                       // Background project color (EBM)
$color-bg-project-polygon: #D1A3D2;                   // Background project color (Polygon)
$color-bg-project-rules: #ACCCFF;                     // Background project color (New rules)
$color-bg-project-website: #F9F871;                   // Background project color (Website)
$color-header: #FFF;                                  // Header text color
$color-link: #A7001E;                                 // Link color
$color-link-hover: darken($color-link, 15%);          // Link color on hover
$color-quote: #A7001E;                                // Quote color
$color-text: #000;                                    // Text color
$color-text-alt: #FFF;                                // Text color (dark backgrounds)

// Fonts

$font-size-base: 20px;                                // Base font size
$font-size-h1: 3.375rem;                              // h1 font size
$font-size-h2: 2.25rem;                               // h2 font size
$font-size-h3: 1.5rem;                                // h3 font size
$font-size-h4: 1rem;                                  // h4 font size
$font-size-h5: 0.75rem;                               // h5 font size
$font-size-h6: 0.563rem;                              // h6 font size

$font-primary: "Raleway", sans-serif;                 // Default page font
$font-secondary: "Oswald", sans-serif;                // h1-h6 font
$line-height: 1.5;                                    // Line height

// Transitions

$transition-hover: 0.5s ease;                         // Hover transition
$transition-scroll: top 0.5s ease;                    // Scroll transition


// Widths and heights
$height-header: 56px;                                 // Header height

$width-max-p-s: 550px;                                // ParaMax width of paragraphs on small screens
$width-max-p-m: 630px;                                // Max width of paragraphs on medium screens
$width-max-website: 1080px;                           // Max width of website