// ======================================
//  About styles
// ======================================

// Resets
.about {
  @include font-size;
  @include reset (false, false);
  &-contents {
    &:nth-child(3) {
      p {
        margin: 0 auto;
      }
    }
  }                                 // Reset margin
}

// General styling
.about {
  @include center(100%, $height-header);             // Positions and centers bounding box to viewport
  @include flexbox(column wrap, space-around);
  font-family: $font-primary;
  &-container {
    @include flexbox(column wrap, space-between);
    margin: 30px 0;
    width: 92%;
    text-align: center;
    max-width: $width-max;                          
  }
  &-contents {
    font-size: $font-size-xs;
    margin: 10px auto;
    width: 100%;
    p, ul {
      font-size: $font-size-p-xs;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    &:nth-child(2) {
      text-align: justify;
      a {
        color: $color-link;
        &:hover, &:active, &:visited {
          color: $color-link-hover;
        }
      }
    }                         // Paragraph container
    &:nth-child(3) {
      @include flexbox($justify-content: space-around, $align-items: flex-start);
      font-family: $font-secondary;
      text-align: center;
      width: 240px;
      a {
        color: $color-link;
        fill: $color-link;
        text-decoration: none;
        &:hover {
          color: $color-link-hover;
          fill: $color-link-hover;
          transition: $transition-hoverLink;
        }
      }
    }                          // Resume links container
  }
}

// Breakpoints 
@media all and (min-width: $breakpoint-s) {
  .about {
    &-contents {
      font-size: $font-size-s;
      p, ul {
        font-size: $font-size-p-s;
        max-width: $width-max-p-s;
      }
      &:nth-child(3) {
        p {
          font-size: $font-size-s;
        }
      }
    }
  }
}
@media all and (min-width: $breakpoint-m) {
  .about {
    &-contents {
      font-size: $font-size;
      p, ul {
        font-size: $font-size-p;
        max-width: $width-max-p-m;
      }
      &:nth-child(3) {
        p {
          font-size: $font-size;
        }
        
      }
    }
  }
}

// ======================================
//  HTML code
// ======================================

//<section class="about" id="about">
//  <div class="about-container">
//    <div class="about-contents">
//      <h1 class="underline-double">about</h1>
//    </div>
//    <div class="about-contents">
//      <p>Magna aut cupidatat si ex tempor ne singulis, arbitror ex occaecat a do ea lorem 
//        possumus ne nescius nisi do occaecat imitarentur, nulla quo excepteur sed magna, 
//        si si quem esse duis, aut ullamco arbitrantur. Tempor ipsum aliquip. Ipsum 
//        officia laboris ea sed malis quibusdam. Sunt sed arbitror. Quorum o admodum e 
//        varias sed et sunt appellat. Esse concursionibus proident magna litteris.</p>
//      <p>Dolore qui cernantur. Aliqua quamquam est eiusmod ab te a legam admodum, quis 
//        sed incurreret o elit, aut te dolor varias enim. O aliqua amet in laboris, 
//        nescius reprehenderit aut admodum. Fabulas sunt incurreret proident, lorem iis 
//        iis quorum ullamco ita doctrina irure consequat cupidatat e quamquam ubi illum 
//        fabulas. Nescius sunt incurreret. Summis senserit iudicem si sint ea tempor et 
//        labore ex hic sed fugiat tamen dolor, mentitum id fore.</p>
//      <p>A est illum vidisse ne labore quo commodo aut quorum, malis doctrina 
//        exquisitaque, irure et e quem eiusmod, doctrina veniam commodo expetendis qui 
//        consequat elit proident doctrina in an qui illum mandaremus, expetendis 
//        adipisicing si tempor. Sed senserit praetermissum. Id quo despicationes. Dolor 
//        quamquam ut reprehenderit, pariatur e amet, et sint eruditionem ad illum 
//        mentitum ingeniis. Quem ingeniis relinqueret. Consequat eram commodo. Nam se 
//        imitarentur eu expetendis magna dolore est veniam, velit qui non amet iudicem, 
//        hic illum e noster. Summis singulis ne singulis ut cillum voluptate sed aliqua 
//        esse ad o ullamco arbitrantur ita quis mentitum concursionibus.</p>
//    </div>
//    <div class="about-contents">
//      <a href="docs/Anderson-Isaac-CV-One-Page.pdf" target="_blank">	
//        <svg xmlns="http://www.w3.org/2000/svg" width="50px" viewBox="-216.9 -38 499.8 508"></svg>
//        <p>resume<br>(one page)</p>
//      </a>
//      <a href="docs/Anderson-Isaac-CV-Two-Page.pdf" target="_blank">	
//        <svg xmlns="http://www.w3.org/2000/svg" width="50px" viewBox="-216.9 -38 499.8 508"></svg>
//        <p>resume<br>(two page)</p>
//      </a>
//    </div>
//  </div>
//</section>