/* ======================================
//  Archive styles
// ====================================*/

.archive {
  @include flexbox(row wrap, center);
  margin: 0 auto;
  width: 100%;
  &-container {
    min-height: calc(100vh - #{$height-footer} - #{$height-header});
    text-align: center;
    width: 98%;
  }
  &-card {
    @include flexbox(column wrap, center, inline-flex, flex-start);
    color: $color-text;
    margin: 10px auto 20px;
    text-decoration: none;
    width: 250px;
    &:hover {
      color: $color-text;
    }
    h4, h5, p {
      margin: 0;
    }
    p {
      color: $color-quote;
    }
    h4 {
      padding: 0 10px;
      text-decoration: underline;
      width: 100%;
    }
    h5 {
      color: #A09C9B;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
    &-info {
      @include flexbox(row wrap, space-between);
      padding: 5px 0;
      width: 130px;
    }
  }
}

@media all and (min-width: $breakpoint-m) {
  .archive {
    margin-top: $height-header;
    &-container {
      max-width: $width-max-website; 
    }
    &-card {
      flex-direction: row-reverse;
      align-items: flex-start;
      width: 350px;
      h4 {
        padding-left: 20px;
        text-align: left;
        text-decoration: none;
        width: 67%;
        &:hover {
          text-decoration: underline;
        }
      }
      &-info {
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
        width: 33%;
      }
    }
  }
}

/* Archive grid allignment fix
// ====================================*/

/* Create "ghost" cards with pseudo-element and div */
.archive-container::after, .alignment-div {
//  border: thin solid blue;
  content: "";
  display: inline-block;
  width: 250px;
}

/* Change width for medium screens */
@media all and (min-width: $breakpoint-m) {
  .archive-container::after, .alignment-div {
    width: 350px;
  }
}