// ======================================
//  Article styles
// ======================================

.article {
  @include flexbox(column wrap, center);
  margin: 0 auto;
  text-align: center;
  width: 100%;
  figure {
    @include flexbox(row wrap, center);
    margin: 0;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
    width: 100%;    
    img {
      width: 100%;
    }
  }
  section {
    padding: 0 10px;
    width: 98%;
    a {
      color: $color-link;
    }
  }
  blockquote, p, ul, ol {
    margin: 0 auto;
    max-width: $width-max-p-s;
    text-align: justify;
  }
  blockquote {
    text-align: center;
  }

}

@media all and (min-width: $breakpoint-m) {
  .article {
    margin: $height-header auto 0;
    a:hover {
      color: $color-link-hover;
    }
    section {
      max-width: $width-max-website;
    }
    blockquote, p, ul, ol {
      margin: 0 auto;
      max-width: $width-max-p-m;
      text-align: justify;
    }
    blockquote {
      text-align: center;
    }
  }
}

