// ======================================
//  Call-to-action (work) styles
// ======================================

// Reset
.cta-work {
  @include font-size;
  @include reset(true, false);
}

// General styling
.cta-work {
  @include center(100%);                             // Positions and centers intro under header bar.
  @include flexbox;
  background-color: $color-bg-cta-work;
  color: invert($color-bg-cta-work);
  font-family: $font-primary;
  text-align: center;
  min-height: $height-cta;
  &-container {
    width: 95%;
    h1, h4 {
      display: block; 
      @include center (98%, 10px, $width-max, 10px);
    }
    h4 {
      font-weight: normal;
    }
  }
}

// Breakpoints 
@media all and (min-width: $breakpoint-m) {
  .cta-work {
    min-height: $height-cta;
  }
}

// ======================================
//  HTML code
// ======================================

//<section class="cta-work" id="cta-work">
//  <div class="cta-work-container">
//    <h4>But that's not all!</h4>
//    <h1>Want to see all of my work?</h1>
//    <a href="work.html" class="btn-light">View all work &nbsp; &#10230;</a>
//  </div>
//</section>