/* ======================================
//  Error styles
// ====================================*/

.error {
  @include flexbox(row wrap, center);
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - #{$height-footer} - 89px);
  &-container {
    text-align: center;
    width: 98%;
  }
}

@media all and (min-width: $breakpoint-m) {
  .error {
    margin-top: $height-header;
    height: calc(100vh - #{$height-footer} - #{$height-header});
    &-container {
      max-width: $width-max-website;
    }
  }
}