// ======================================
//  Error styles
// ======================================

// Reset
.error {
  @include font-size;
  @include reset;
}

// General styling
.error {
  @include center(100%, $height-header);             // Positions and centers intro under header bar.
  @include flexbox;
  font-family: $font-primary;
  text-align: center;
  height: calc(100vh - #{$height-header} - #{$height-footer});
  &-container {
    width: $width-max;
    h1, h4 {
      display: block; 
      @include center (98%, 0, $width-max, 0);
    }
    h1 {
      font-size: $font-size-hero-xs;
    }
    h4 {
      font-weight: normal;
    }
  }
  &-search {
    margin: 30px auto 0;
    width: 80%;
    input, .btn-dark {
      display: block;
      width: 100%;
    }
    input {
      height: 50px;
      text-align: center;
    }
    .btn-dark {
      margin: 0;
      padding: 15px 0;
    }
  }
}

// Breakpoints 
@media all and (min-width: $breakpoint-s) {
  .error {
    &-container {
      h1 {
        font-size: $font-size-hero-s;
      }
    }
  }
}
@media all and (min-width: $breakpoint-m) {
  .error {
    &-container {
      h1 {
        font-size: $font-size-hero;
      }
    }
    &-search {
      input, .btn-dark {
        display: inline-block;
      }
      input {
        width: 60%;
      }
      .btn-dark {
        width: 150px;
      }

    }
  }
}

// ======================================
//  HTML code
// ======================================

//<section class="error" id="error">
//  <div class="error-container">
//    <h1>404</h1>
//    <h4>Sorry! That page can't be found at the moment...</h4>
//    <div class="error-search">
//      <input class="error-search-child" type="text" placeholder="Search...">
//      <a class="error-search-child btn-dark">Search</a>
//    </div>
//  </div>
//</section>