// ======================================
//  Header styles
// ======================================

.header {
  @include flexbox(row wrap, center);
  background-color: $color-bg-header;
  font-family: "Oswald", sans-serif;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 0;
  transition: $transition-scroll;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
  &-container {
    @include flexbox(row wrap, space-between);    
    width: 95%;
  }
  &-logo {
    margin: 0 auto;
    width: 45%;
    svg {
      fill: $color-header;
    }
  }
  &-nav {
    margin: 0 auto;
    width: 100%;
    ul {
      @include flexbox(row wrap, space-around);
      list-style-type: none;
      margin: 10px auto;
      padding: 0;
      a {
        color: $color-header;
        text-decoration: none;
        &:hover {
          color: $color-link;
          transition: $transition-hover;
        }
      }
      li {
        width: 80px;
      }
    }
  }
}

@media all and (min-width: $breakpoint-m) {
  .header {
    height: 56px;
    &-container {
      max-width: $width-max-website;
    }
    &-logo {
      margin: 0;
      width: 200px;
    }
    &-nav {
      margin: 0;
      width: 300px;
      ul {
        list-style-type: none;
        justify-content: space-between;
        margin: 5px auto 10px;
        padding: 0;
      }
    }
  }
}


// ======================================
//  Code
// ======================================

//<header class="header border">
//  <div class="header-container border">
//    <div class="header-logo border"><a href="index.html" class="">
//      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" height="45" class="">
//        <title>Logo</title>
//        <desc>Logo icon</desc>
//        <path d="M33.8 40.7c4-3.5 8.6-5.3 13.7-5.3 5 0 9.4 1.8 13.3 5.3 3.9 3.5 5.9 7.8 5.9 13s-2 9.4-5.9 12.8c-3.9 3.4-8.4 5.1-13.3 5.1 -5.1 0-9.7-1.7-13.7-5.1 -4-3.4-6-7.7-6-12.8S29.7 44.2 33.8 40.7zM64.4 93.4v112.2H28.5V93.4H64.4z"/>
//        <path d="M222.1 93.4v112.2h-35.9v-13.9c-10.8 11.3-23.3 16.9-37.5 16.9 -16.6 0-30.1-5-40.4-14.9 -10.4-9.9-15.5-24.6-15.5-44.2 0-12.3 2.5-23.1 7.6-32.5 5-9.3 11.8-16.6 20.2-21.7 8.4-5.1 17.4-7.7 27-7.7 9.9 0 17.8 1.5 23.6 4.5 5.8 3 10.9 7.2 15.4 12.7l2.3-11.6H222.1zM186.1 162.5V135c-2.1-5.5-5.6-9.8-10.7-13.1 -5-3.2-11-4.9-17.8-4.9 -7.9 0-14.6 2.9-20.2 8.7 -5.6 5.8-8.3 13.2-8.3 22.1 0 5.8 1.4 11.2 4.1 16s6.4 8.7 10.9 11.4c4.5 2.7 9.5 4.1 14.8 4.1C171.4 179.4 180.5 173.8 186.1 162.5z"/>
//      </svg>
//    </a></div>
//    <nav class="header-nav border">
//      <ul class="">
//        <li class=""><a href="about.html" class="">about</a></li>
//        <li class=""><a href="work.html" class="active">portfolio</a></li>
//        <li class=""><a href="#" class="">contact</a></li>
//      </ul>  
//    </nav>
//  </div>
//</header>