/* ======================================
//  Project styles
// ====================================*/

.project {
  @include flexbox(row wrap, center);
  margin: 0 auto;
  width: 100%;
  &-container {
    @include flexbox(row wrap, center);
    color: $color-text;
    height: 100%;
    text-decoration: none;
    width: 98%;

    &:hover {
      color: $color-text;
    }

    
  }
  &-image {
    @include flexbox(row wrap, center);
    margin-top: 15px;
    width: $width-logo-project-s;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &-desc {
    padding-bottom: 15px;
    text-align: center;
    width: 90%;
    h3 {
      text-decoration: underline;
    }
  }
}

@media all and (min-width: $breakpoint-m) {
  .project {
    &:nth-of-type(1) {
      margin: $height-header auto 0;
    }
    &-container {
      width: 90%;              // This width change fixes scroll bar issue on hover (Firefox, IE)
      max-width: $width-max-website;
      &:hover {
        color: $color-text;
        overflow: hidden;
        transition: all .3s ease-in-out;
        transform: scale(1.1);
      }
    }
    &-image {
      margin: 0;
      padding: 15px;
      width: $width-logo-project-m;
    }
    &-desc {
      padding: 40px;
      width: 50%;
    }
  }
}
