// ======================================
//  All work styles
// ======================================

// Resets
.work {
  @include reset(true, true);
}

// General styling
.work {
  @include center(100%, $height-header);             // Positions and centers bounding box to viewport
  @include flexbox(column wrap, space-around);
  background-color: $color-bg-work;
  font-family: $font-primary;
  text-align: center;
  .btn-dark {
    margin: 5px 10px;
  }                                  // Padding for small buttons
  &-container {
    @include flexbox(column wrap, space-between);
    margin: 30px 0;
    max-width: $width-max;
    width: 100%;
  }
  &-contents {
    margin: 10px auto;
    &:nth-child(2) {
      @include flexbox($justify-content: space-around, $align-items: flex-start);
      width: 90%;                                    // Increase width of contents inside container
    }                           // Container with project cards      
  }
  &-card {
    @include flexbox(column wrap, center);
    background-color: $color-bg-card;
    font-size: $font-size-xs;
    flex: 1 items-per-line(1);
    margin: $gutter;
    margin-bottom: $margin-card-row;
    h2 {
      color: $color-text;
      margin: 10px auto;
    }
    > p {
      color: $color-text;
      padding: 0 5px;
      width: 100%;
    }
    &-image {
      background-color: $color-bg-card-image;
      height: 180px;
      width: 100%;
      position: relative;
      overflow: hidden;
      img {
        @include centerXY($width: 100%);
        height: auto;
        min-height: 100%;
      }
    }
    &-button {
      height: auto;
      width: 100%;
      .btn-dark {
        display: block;
        font-weight: normal;
        margin: 10px 0 0;
      }
    }
  }
}

// Breakpoints 
@media all and (min-width: $breakpoint-s) {
  .work {
    &-card {
      font-size: $font-size-s;
    }
  }
}
@media all and (min-width: $breakpoint-m) {
  .work {
    &-card {
      font-size: $font-size-card-p;
      flex: 0 items-per-line(2);
      .btn-dark {
        font-size: $font-size-card-p;
      }
    }
  }
}


// ======================================
//  HTML code
// ======================================

//<section class="work" id="work">
//  <div class="work-container">
//    <div class="work-contents">
//      <h1 class="underline-double">work</h1>
//    </div>
//    <div class="work-contents">
//      <a href="post.html" class="all-work-card border">
//        <div class="work-card-image"><img src="images/placeimg_640_480_tech.jpg"></div>
//        <h2>Project One</h2>
//        <p>Quo et esse irure irure ubi nisi consequat a eruditionem, laboris a quid probant 
//          non proident ita elit, incurreret ipsum consequat incididunt, quem nescius ex 
//          adipisicing.</p>
//        <div class="work-card-button"><p class="btn-dark">View case study</p></div>
//      </a>
//    </div>
//    <div class="work-contents">
//      <a class="btn-dark-s">&lsaquo;</a>
//      <a class="btn-dark-s">&rsaquo;</a>
//    </div>
//  </div>
//</section>