// ======================================
//  Post styles
// ======================================

// Resets
.post {
  @include font-size;
  @include reset {
    a {
      color: $color-text;
    }
  }
}

// General styling
.post {
  @include center(100%, $margin-top: $height-header);  // Positions and centers bounding box to viewport
  font-family: $font-primary;
  a {
    color: $color-link;
    &:hover, &:active, &:visited {
      color: $color-link-hover;
    }
  }
  &-contents {
    margin: 30px auto;
    text-align: center;
    width: 90%;
    blockquote {
      max-width: $width-max-p-m;
      text-align: center;
    }
    h1 {
      margin: 50px 0;
    }
    h2, h3, h4, h5, h6 {
      margin: 50px auto 25px;
    }
    li {
      font-size: $font-size-p-xs;
      margin: 10px auto;
      padding: 0 10px;      // Resets padding given to bullets, and centers list
    }
    p, ul, ol, h5 {
      margin-left: auto;    // Centers paragraph in container
      margin-right: auto;   // Centers paragraph in container
      text-align: justify;  // Creates block effect
    }
    h5 {
      text-align: center;   // Removes block effect
    }
    p {
      font-size: $font-size-p-xs;
      margin: 30px auto;
      width: 100%;
      max-width: 100vw;
    }
    ul, ol {
      margin-bottom: 40px;
    }
    &:nth-child(1) {
      width: 100%;
      max-width: 1920px;
      overflow: hidden;
      position: relative;
      margin-top: 0;
      img {
        width: 100%;
        height: auto;      // Ensures aspect ratio is maintained
      }
    }  // Post main image
    &:nth-child(2) {
      max-width: $width-max;
    }  // Post content
  }
}

//.visual-list {
//  @include flexbox($flex-flow: row wrap, $justify-content: center, $display: flex, $align-content: center, $align-items: center);
//  img {
//    width: 100%;
//  }
//  h4 {
//    margin: 20px auto;
//  }
//  p:first-child {
//    margin: 20px auto;
//    text-align: center;
//  }
//}

.visual-list {
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  max-width: $width-max-p-s;
  width: 100%;
  img {
    width: 100%;
  }
  h4 {
    margin: 20px auto;
    font-size: 1rem;
  }
  p:first-child {
    margin: 20px auto;
    text-align: center;
  }
}





// Breakpoints 
@media all and (min-width: $breakpoint-s) {
  .post {
    &-contents {
      p, ul, ol, h5 {
        max-width: $width-max-p-s;
      }
      p, li {
        font-size: $font-size-p-s;
      }
    }
  }
}
@media all and (min-width: $breakpoint-m) {
  .post {
    &-contents {
      p, ul, ol, h5 {
        max-width: $width-max-p-m;
      }
      p, li {
        font-size: $font-size-p;   
      }
    } 
  }
  .visual-list {
    margin: 10px 12px;
    max-width: $width-max-p-m;
    width: 45%;
    p {
      font-size: 0.95rem;
    }
  }
}

// ======================================
//  HTML code
// ======================================

//<article class="post" id="post">
//  <div class="post-contents"><img src="images/laptop.jpg"></div>
//  <div class="post-contents">
//    <h1>Minim laborum id minim illum.</h1>
//    <p>Tempor graviterque est mandaremus ex vidisse aut aute occaecat, in multos labore 
//      ipsum voluptate ubi quae incididunt ea graviterque, nisi nostrud praesentibus 
//      ita sunt probant sed esse fore non nescius tractavissent do commodo o a 
//      consequat se mentitum. Fore id te summis ingeniis, amet o commodo. Non ex magna 
//      illum nulla, anim ut deserunt, sed se culpa illum duis, noster familiaritatem 
//      probant nulla appellat et <a href="index.html">culpa mentitum in tamen velit</a> si nisi qui cernantur si 
//      ipsum, offendit ita deserunt, consequat a dolor mandaremus. Quid officia te anim 
//      varias, incurreret summis dolor ea legam ea de quorum pariatur, si nisi 
//      incurreret transferrem. Esse aliquip singulis. Est in domesticarum. Eu esse 
//      arbitror iudicem, ingeniis id multos e qui illum doctrina arbitror, et tamen 
//      deserunt quamquam, nulla sempiternum expetendis aute ingeniis est sed duis velit 
//      quis appellat, sunt qui ne tamen doctrina, nam quorum imitarentur.</p>
//    <blockquote>"Id iudicem eruditionem. Anim ingeniis ea sempiternum e si cillum e eram."</blockquote>
//    <p>Quem aliquip se mentitum ad quae nam ut cillum aliquip, ad quo varias commodo 
//      iis laboris si varias tempor, senserit ad fugiat incididunt, offendit multos 
//      multos a aliqua ita et e veniam sunt multos nam quibusdam varias elit sed 
//      aliqua. Expetendis ipsum senserit ex id quorum iis nisi, magna ingeniis te 
//      relinqueret, et ubi esse probant. Se vidisse sempiternum, multos a te duis 
//      arbitror ab eu hic summis malis culpa est aliqua vidisse reprehenderit, probant 
//      fore fabulas iis sed incurreret sed ingeniis, magna aut ullamco, excepteur ubi 
//      labore cupidatat. Ex fugiat fugiat quid appellat e eram nescius in 
//      praetermissum. Mentitum praetermissum hic pariatur, quo arbitror e mandaremus 
//      quo quo ita noster voluptate hic si doctrina o voluptate. Fore offendit a 
//      admodum aut eu iis tractavissent, ab dolore qui ipsum, consequat et admodum. 
//      Summis se occaecat si an si adipisicing. Singulis cohaerescant ita quibusdam, 
//      eiusmod comprehenderit aut officia.</p>
//      <img src="images/placeimg_640_480_tech%20(1).jpg" class="images-one">
//      <img src="images/placeimg_640_480_arch%20(1).jpg" class="images-two">
//      <img src="images/placeimg_640_480_arch%20(2).jpg" class="images-two">
//      <img src="images/placeimg_640_480_tech%20(2).jpg" class="images-three">
//      <img src="images/placeimg_640_480_tech%20(3).jpg" class="images-three">
//      <img src="images/placeimg_640_480_tech%20(4).jpg" class="images-three">
//    <p>Ne tamen iis dolore. De ex tractavissent ita an nam amet consequat, duis nostrud 
//      ea cohaerescant quo tempor o ullamco. Quibusdam velit culpa ingeniis labore, 
//      summis aut quamquam ubi minim ne e an tamen laboris, ita deserunt praetermissum 
//      te e varias eram sed voluptate et doctrina illum expetendis ne consequat summis 
//      anim est sunt, illum o quibusdam. Non elit duis nam laborum, id quid ingeniis. 
//      Admodum legam anim sed eram. Ab dolor sint illum iudicem, ex fore quem irure 
//      quamquam se magna eruditionem tempor anim proident, senserit legam velit sed 
//      legam. Aute excepteur domesticarum, fore se mentitum non culpa. Elit officia ubi 
//      concursionibus e ut illum nisi fore proident ubi et elit ipsum et litteris, quo 
//      illum aliquip.</p>
//    <h2>Cernantur ubi arbitror eu eiusmod.</h2>
//    <p>Ex malis sempiternum. Nulla in proident ita summis. Se sint ipsum nam admodum, 
//      irure arbitror est admodum. Est ipsum de fore, litteris o culpa, proident tamen 
//      an quamquam reprehenderit id expetendis culpa irure nostrud nulla. Probant irure 
//      malis mentitum quorum ex quo illum multos an deserunt nam quem comprehenderit 
//      proident amet ingeniis, hic cernantur despicationes, nostrud esse nisi ex dolor, 
//      nescius varias nulla ea ipsum et aliqua commodo sed occaecat ad sed nulla cillum 
//      duis laboris. Ullamco nisi voluptate. O elit velit e possumus hic quis probant 
//      an ullamco.</p>
//    <h3>What do you want to do next?</h3>
//    <ul>
//      <li>Modify or delete this article? The <a href="//localhost/textpattern/textpattern/textpattern/index.php?event=list">article list</a> is the place to start.</li>
//      <li>Change this site&#8217;s name, or modify the style of the <span class="caps">URL</span>s? It&#8217;s all up to your <a href="//localhost/textpattern/textpattern/textpattern/index.php?event=prefs">preferences</a>.</li>
//      <li>Get yourself acquainted with Textile, the humane markup generator which comes with Textpattern? The basics are <a href="https://textpattern.com/textile-sandbox">simple</a>. If you want to learn more, you can dig into an <a href="https://textpattern.com/textile-reference-manual">extensive manual</a> later.</li>
//      <li>Be guided through your <a href="https://textpattern.com/textpattern-first-steps">Textpattern first steps</a> by completing some basic tasks?</li>
//      <li>Study the <a href="https://textpattern.com/textpattern-semantic-model">Textpattern Semantic Model?</a></li>
//      <li>Add <a href="//localhost/textpattern/textpattern/textpattern/index.php?event=admin">another user</a>, or extend the capabilities with <a href="//localhost/textpattern/textpattern/textpattern/index.php?event=plugin">third party plugins</a> you discovered from the <a href="https://textpattern.com/plugins">Textpattern plugin directory?</a></li>
//      <li>Dive in and learn by trial and error? Then please note:
//        <ul>
//          <li>When you <a href="//localhost/textpattern/textpattern/textpattern/index.php?event=article">write</a> an article you assign it to a section of your site.</li>
//          <li>Sections use a <a href="//localhost/textpattern/textpattern/textpattern/index.php?event=page">page template</a> and a <a href="//localhost/textpattern/textpattern/textpattern/index.php?event=css">style</a> as an output scaffold.</li>
//          <li>Page templates use <abbr title="HyperText Markup Language"><span class="caps">HTML</span></abbr> and Textpattern tags (like this: <code>&lt;txp:article /&gt;</code>) to build the markup.</li>
//          <li>Some Textpattern tags use <a href="//localhost/textpattern/textpattern/textpattern/index.php?event=form">forms</a>, which are building blocks for reusable snippets of code and markup you may build and use at your discretion.</li>
//        </ul>
//      </li>
//    </ul>
//    <p><a href="https://docs.textpattern.io/tags/">Textpattern tags</a>, their attributes and values are explained and sampled within the <a href="https://docs.textpattern.io/">Textpattern User Documentation</a>, where you will also find valuable tips and tutorials.</p>
//    <p>There&#8217;s also a crowd of friendly, helpful people over at the <a href="https://forum.textpattern.io/">Textpattern support forum</a>. Come and pay a visit!</p>
//    <p>We welcome additional language translations (and corrections to current translations). Please visit <a href="https://textpattern.com/languages">Textpattern language translations</a> for further details.</p>
//  </div>
//</article>


