/* ======================================
//  Hero styles
// ====================================*/

.hero {
	@include flexbox(row wrap, center);
	@include positioning(margin-top);
	text-align: center;
	height: calc(100vh - #{$height-header-s} - #{$height-logo});      // 40px is height of logo, written inline (SVG).
	&-container {
		@include flexbox(row wrap, center);
    width: 95%;
		h1 {
			font: bold $font-size-super $font-tertiary;
			margin: 0;
			width: 100%;
		}
		p {
			margin-bottom: 0;
			width: 90%;
		}
	}
}

@media all and (min-width: $breakpoint-m) {
	.hero {
		min-height: calc(100vh - #{$height-header-m});
		&-container {
			max-width: $width-max-website;
		}
	}
}