/* ======================================
//  Posts styles
// ====================================*/

.posts {
	@include flexbox(row wrap, center);
	margin: 0 auto;
	padding: 20px 0;
	width: 100%;
	a {
		color: $color-text;
		text-decoration: none;
	}
	button {
		margin-top: 25px;
	}
	&-container {
		@include flexbox(row wrap, center);
    width: 98%;
	}
	&-listing {
		@include flexbox(row wrap, center, $align-items: flex-start);   
		width: 98%;
	}
	&-card {
		margin: 20px 2px; 
		padding: 5px;
		width: $width-form-s;
		img {
			width: 100%;
		}
		h3 {
			font-size: $font-size-h4;
			letter-spacing: $spacing-letter-h4;
			margin: 0;
			text-transform: uppercase;
			a {
				color: $color-text;
				text-decoration: none;
				&:hover {
					color: $color-link;
					transition: $transition-hover;
				}
			}
		}
		p {
			font-size: $font-size-h5;
		}
	}
}

@media all and (min-width: $breakpoint-s) {
	.posts {
		&-card {
			width: 48%;
		}
	}
}

@media all and (min-width: $breakpoint-m) {
	.posts {
		&-container {
			max-width: $width-max-website;
		}
		&-card {
			width: 32%;
		}
	}
}