// ======================================
//  Class styles
// ======================================

.active {
  border-bottom: 3px solid $color-header;
  &:hover {
    border-bottom: 3px solid $color-link;
    transition: $transition-hover;
  }
}



.border {
  border: thin solid black;
}


.hide {
  display: none;
}

#appy {
  background-color: $color-bg-project-appy;
  color: $color-text-alt;
}
#ebm {
  background-color: $color-bg-project-ebm;
}
#polygon {
  background-color: $color-bg-project-polygon;
}
#rules {
  background-color: $color-bg-project-rules;
}
#website {
  background-color: $color-bg-project-website;
}