/* ======================================
//  Background styles
// ====================================*/

.error {
	@include background($color-overlay, 0.55, "../images/backgrounds/error.jpg");
	h1, p {
    color: $color-text-alt;    
  }
}

.hero {
	@include background($color-overlay, 0.55, "../images/backgrounds/laptop.jpg");
	h1, p {
    color: $color-text-alt;    
  }
}