/* ======================================
//  Class styles
// ====================================*/

.border {
  border: thin solid red;
}
.active {
	&::before {
		background-color: $color-header;
		content: "";
		position: absolute;
		left: 0;
		height: 4px;
		top: 2px;
		width: 100%;
	}
	&:hover::before {
		background-color: $color-link;
		transition: $transition-hover;
	}
}
.alignment-only {
	display: inline-block;
	margin: 0;
	width: 32%;
}
.bold {
  font-weight: bold;
}
.card-tag {
	background-color: $color-section;
	font-size: $font-size-h6;
	font-weight: bold;
	letter-spacing: $spacing-letter-h6;
	margin-bottom: 5px;
	padding: 7px;
	text-transform: uppercase;
	&:hover {
		background-color: $color-bg-header;
		color: $color-header;
	}
}
.copyright {
	font-size: $font-size-h6;
	font-weight: bold;
	letter-spacing: $spacing-letter-h6;
	margin-bottom: 0;
	text-transform: uppercase;
}
.divider, .divider-light {
	width: 98%;
	overflow-x: hidden;
	h2 {
		display: inline-block;
		padding-right: 30px;
		position: relative;
		text-transform: uppercase;
		&::after {
			@include centerY($width: $width-max-website);
			background-color: #000;
			content: "";
			display: block;
			height: 6px;
			left: 100%;
		}
	}
}
.divider-light {
	h2 {
		&::after {
			background-color: $color-text-alt;
		}
	}
}

.hide {
  display: none;
}
.hide-large {
  @media all and (min-width: $breakpoint-m) {
    display: none;
  }
}
.hide-small {
  @media all and (max-width: $breakpoint-m) {
    display: none;
  }
}
.icons-div {
  @include flexbox(row wrap, space-around);
  fill: $color-link;
  margin: 20px auto;
  max-width: $width-max-p-s;
  width: $width-iconsdiv;
  a {
    text-decoration: none;
    &:hover {
      fill: $color-link-hover;
    }
  }
  .mini {
    margin: 0;
    text-align: center;
  }
}
.img {
  text-align: center;
  max-width: $width-max-website;
  &-100 {
    width: 98.5%;
  }
	&-75 {
    width: 75%;
  }
  &-50 {
    width: 49%;
  }
  &-33 {
    width: 32%;
  }
  &-25 {
    width: 23.5%;
  }
}
.italic {
  font-style: italic;
}   
.list-card {
  display: inline-block;
  margin: 20px auto;
  max-width: $width-max-p-s;
  vertical-align: top;
  width: 100%;
  img {
    overflow: hidden;
    width: 100%;
  }
  h4 {
    margin: 10px auto;
    text-align: center;
  }
  p, ol, ul, .mini {
    margin: 10px auto 0;
    text-align: justify;
  }
  @media all and (min-width: $breakpoint-m) {
    padding: 0 10px;
    width: 350px;
  }
}
.mini {
  font-size: $font-size-h5;
}
.primary {
  font-family: $font-primary;
}
.secondary {
  font-family: $font-secondary;
}
.related-card {
  color: $color-text;
  display: inline-block;
  margin: 20px auto 30px;
  max-width: $width-max-p-s;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 90%;
  &:hover {
    color: $color-text;
  }
  img {
    overflow: hidden;
    width: 100%;
  }
  h4 {
    margin: 10px auto;
    text-align: center;
    text-decoration: underline;
  }
  p, .mini {
    margin: 10px auto 0;
  }
  @media all and (min-width: $breakpoint-m) {
    padding: 0 10px;
    width: 350px;
    &:hover {
      color: $color-text;
      overflow: hidden;
      transition: all .3s ease-in-out;
      transform: scale(1.1);
    }
  }
}
.underline {
  text-decoration: underline;
}
.underline-double {
  text-decoration: underline;
  text-decoration-style: double;
}

/* ======================================
//  ID styles
// ====================================*/

#dribbble {
  &:hover {
    color: $color-logo-dribbble;
    transition: $transition-hover;
  }
}
#facebook {
  &:hover {
    color: $color-logo-facebook;
    transition: $transition-hover;
  }
}
#github {
  &:hover {
    color: $color-logo-github;
    transition: $transition-hover;
  }
}
#google-plus {
  &:hover {
    color: $color-logo-google-plus;
    transition: $transition-hover;
  }
}
#instagram {
  &:hover {
    color: $color-logo-instagram;
    transition: $transition-hover;
  }
}
#linkedin {
  &:hover {
    color: $color-logo-linkedin;
    transition: $transition-hover;
  }
}
#medium {
  &:hover {
    color: $color-logo-medium;
    transition: $transition-hover;
  }
}