/* ======================================
//  Project styles
// ====================================*/

.project {
  @include flexbox(row wrap, center);
  margin: 0 auto;
	position: relative;
  width: 100%;
	&-image {
		@include flexbox(row wrap, center);
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
		z-index: -100;
		img {
			min-height: 100%;
			width: 100%;
		}
	}
	
	
	
	
	
  &-container {
    @include flexbox(row wrap, center);
    color: $color-text;
    height: 100%;
    text-decoration: none;
    width: 98%;
    &:hover {
      color: $color-text;
    } 
  }
//  &-image {
//    @include flexbox(row wrap, center);
//    margin-top: 15px;
//    width: $width-logo-project-s;
//    img {
//      height: 100%;
//      width: 100%;
//    }
//  }
  &-desc {
    padding: 80px;
    text-align: center;
    width: 90%;
		:nth-child(1) {
			margin-top: 0;           // Required to center "project-desc" div with padding
		}
		:last-child::after {
			content: "\203A \203A \203A";
			margin-left: 8px;
		}
    h3 {
			font-size: $font-size-h2;
			margin-bottom: 0.5em;
    }
		p {
			margin-bottom: 0;        // Required to center "project-desc" div with padding
		}
  }
}

@media all and (min-width: $breakpoint-m) {
  .project {
    &:nth-of-type(1) {
      // Moves top margin of first project down by size of header
      margin: $height-header auto 0;
    }
    &-container {
      width: 90%;              // This width change fixes scroll bar issue on hover (Firefox, IE)
      max-width: $width-max-website;
      &:hover {
        color: $color-text;
        overflow: hidden;
        transition: $transition-hover-project;
        transform: $scale-hover-project;
      }
    }
    &-desc {
      padding: 70px;
      width: 90%;
    }
  }
}
