// ======================================
//  Header styles
// ======================================

.header {
  @include flexbox(row wrap, center);
  background-color: $color-bg-header-logo;
  font-family: "Oswald", sans-serif;
  font-size: $font-size-h4;
  text-align: center;
  width: 100%;
  z-index: 100;
  a {
    text-decoration: none;
    :hover {
      color: $color-link;
      transition: $transition-hover-link;
    }
  }
  &-container {
    width: 95%;
  }
  &-logo {
    height: auto;
    svg {
      fill: $color-header-logo;
    }
  }
}

@media all and (min-width: $breakpoint-m) {
  .header {
    &-container {
      max-width: $width-max-website;
    }
  }
}