// ======================================
//  Nav styles
// ======================================

.nav {
  @include flexbox(row wrap, center);
  background-color: $color-bg-header-logo;
  font-family: "Oswald", sans-serif;
  font-size: $font-size-h4;
  padding: 10px 0 15px;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
  &-container {
    width: 95%;
  }
  a {
    text-decoration: none;
    &:hover {
      color: $color-link;
      transition: $transition-hover-link;      
    }
  } 
  ul {
    @include flexbox(row wrap, space-around);
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    a {
      color: $color-header-nav;
      text-decoration: none;
      &:hover {
        color: $color-link;
        transition: $transition-hover-link;      
      }
    }
    li {
      width: 80px;
    }
  }

}

@media all and (min-width: $breakpoint-m) {
  .nav {
    &-container {
      max-width: $width-max-website;
    }
  }
}